<script>
	import { _ } from "svelte-i18n"
	import { labelsWithIcon } from "~/stores.js"
	export let value = []
</script>

<ul class="list-disc list-inside ms-4">
	{#each value as label}
		<li>
			{$_(`label.${label}.label`)}
			{#if $labelsWithIcon.includes(label)}
				<img
					src={`/labels-logos/label-${label}.png`}
					class="pl-2 h-8 object-contain object-left flex-shrink-0 inline-block"
					alt={$_(`label.${label}.label`)}
				/>
			{/if}
		</li>
	{/each}
</ul>
