<script>
	export let value

	import SimpleOpeningHours from "simple-opening-hours"
	import { locale, time, _ } from "svelte-i18n"

	function isTableEmpty(table) {
		return Object.values(table).every((times) => times.length === 0)
	}

	/** Convert
	 * "10:30-19:30" info localized format
	 *	(e.g. 10h30 - 19h30 in french)
	 */
	function formatTimeSlot(text) {
		// Well formated?
		const found = text.match(/^([0-9]{2}):([0-9]{2})-([0-9]{2}):([0-9]{2})$/)
		if (!found) {
			return text
		}

		function hmToDate(hours, minutes) {
			const d = new Date()
			d.setHours(hours)
			d.setMinutes(minutes)
			return d
		}

		const fromTime = $time(hmToDate(parseInt(found[1]), parseInt(found[2])))
		const toTime = $time(hmToDate(parseInt(found[3]), parseInt(found[4])))

		return $_("page.structures.openinghours.time_slot_format", { values: { from: fromTime, to: toTime } })
	}

	// https://stackoverflow.com/questions/24998624/day-name-from-date-in-js
	function getWeekDays(locale) {
		const baseDate = new Date(Date.UTC(2017, 0, 2)) // just a Monday
		let weekDays = []
		for (let i = 0; i < 7; i++) {
			weekDays.push(baseDate.toLocaleDateString(locale, { weekday: "long" }))
			baseDate.setDate(baseDate.getDate() + 1)
		}
		return weekDays
	}

	// Re-compute i18n week day labels each time current language changes
	$: weekDayLabels = getWeekDays($locale)
	let timeSlotSep = $_("page.structures.openinghours.time_slot_separator")

	let parts = []
	$: if (value) {
		const openingHours = new SimpleOpeningHours(value)
		const table = openingHours.getTable()
		const week = ["mo", "tu", "we", "th", "fr", "sa", "su"]
		parts = isTableEmpty(table) ? [] : week.map((day, i) => [weekDayLabels[i], table[day].map(formatTimeSlot)])
	}
</script>

{#if parts.length === 0}
	<p class="text-gray-700 item-content">{$_("page.structures.openinghours.empty")}</p>
{:else}
	<ul class="list-disc list-inside">
		{#each parts as [dayName, times] (dayName)}
			{#if times.length > 0}
				<li class="capitalize">
					{$_("page.structures.openinghours.day_timeslots", {
						values: {
							dayName,
							timeSlots: times.join(timeSlotSep),
						},
					})}
				</li>
			{/if}
		{/each}
	</ul>
{/if}
