<script>
	export let streetAddress = null
	export let postalCode = null
	export let addressLocality = null

	import { externalLink } from "~/icons/heroicons.js"
	import SvgIcon from "~/components/SvgIcon.svelte"
	import { _ } from "svelte-i18n"

	$: addressSearchString = (streetAddress || "") + " " + (postalCode || "") + " " + (addressLocality || "")

	// Cf https://developers.google.com/maps/documentation/urls/android-intents#search_for_a_location
	$: geoUrl = addressSearchString ? `geo:0,0?q=${encodeURIComponent(addressSearchString)}` : null
</script>

{#if streetAddress || postalCode || addressLocality}
	<div class="my-2 flex">
		<address>
			{#if streetAddress}
				<div>{streetAddress}</div>
			{/if}
			{#if postalCode || addressLocality}
				<div>{[postalCode, addressLocality].join(" ")}</div>
			{/if}
		</address>
		{#if geoUrl}
			<div>
				<a class="ms-2" href={geoUrl} title={$_("page.structures.tooltip.see_the_address_on_a_map")}>
					<SvgIcon {...externalLink} />
				</a>
			</div>
		{/if}
	</div>
{/if}
