<script>
	import { fetchInitialMetaData } from "~/stores.js"

	fetchInitialMetaData()
</script>

<div class="mapbox-skin">
	<slot />
</div>

<style lang="postcss" global>
	@import "mapbox-gl/dist/mapbox-gl.css";
	.mapbox-skin {
		background-color: #efe9e1;
	}
</style>
