<script>
	import { fetchInitialMetaData } from "~/stores.js"
	import Footer from "~/components/Footer.svelte"
	import NavBar from "~/components/NavBar.svelte"

	fetchInitialMetaData()
</script>

<!-- routify:options preload="proximity" -->

<div class="flex flex-col min-h-screen">
	<div class="print:hidden hidden sm:block">
		<div class="tache1 tache">
			<img src="/images/tachefond1.png" alt="tachefond1" />
		</div>
		<div class="tache2 tache">
			<img src="/images/tachefond2.png" alt="tachefond2" />
		</div>
		<div class="tache3 tache">
			<img src="/images/tachefond3.png" alt="tachefond3" />
		</div>
		<div class="tache4 tache">
			<img src="/images/tachefond4.png" alt="tachefond4" />
		</div>
	</div>

	<div class="print:hidden">
		<NavBar />
	</div>

	<div class="flex-grow container max-w-screen-xl mx-auto p-2 print:pt-0">
		<slot />
	</div>

	<div class="print:hidden mt-8 sm:mt-24 mb-4">
		<Footer />
	</div>
</div>

<style lang="postcss">
	.tache {
		position: fixed;
		z-index: -1;
	}

	.tache1 {
		width: 115px;
		right: -50px;
		top: -45px;
	}

	.tache2 {
		width: 212px;
		left: -25px;
		bottom: -96px;
	}

	.tache3 {
		width: 174px;
		right: 91px;
		bottom: -88px;
	}

	.tache4 {
		width: 185px;
		right: -58px;
		bottom: -53px;
	}
</style>
