<script>
	import { _ } from "svelte-i18n"
	import config from "~/config"

	$: francilinHostname = config.francilinUrl.replace(/https?:\/\//, "")
</script>

<!-- routify:options name="legal-terms" -->
<div class="typography">
	<h1 class="mb-4">{$_("page.legal_terms.title").toUpperCase()}</h1>

	<h2>Identification</h2>

	<p>Raison sociale : HUB FRANCIL'IN</p>
	<p>Forme juridique : Groupement d’Intérêt économique (GIE)</p>
	<p>
		Activité : Accompagner, structurer et pérenniser les stratégies d'inclusion numérique en Île-de-France et renforcer
		les modèles de développement des acteurs franciliens de la médiation numérique.
	</p>
	<p>
		Administrateurs : Association Science Technologie et Société - ASTS, Innovons pour la Citoyenneté sur Internet -
		ICI, Les Entreprises pour la Cité - LEPC. Contrôleur de gestion : Maisto, Isabelle
	</p>
	<p>Adresse du siège social : 54 avenue Edison 75013 Paris</p>
	<p>Numéro d’inscription au registre du commerce et des sociétés (RCS) ou au répertoire des métiers :</p>
	<p>Date d’immatriculation : 17/06/2020</p>
	<p>SIRET : 88435072900015</p>
	<p>Adresse de courriel électronique : equipe@francilin.fr</p>
	<p>Responsable éditorial : Damien Monnerie</p>
	<p>
		Site web :
		<a href={config.francilinUrl} target="_blank" rel="noopener">{francilinHostname}</a>
	</p>

	<h2>Hébergement du site</h2>

	<p>Raison sociale : Netlify</p>
	<p>Adresse du siège social : 610 22nd Street, Suite 315, San Francisco, CA 94107</p>
	<p>
		Site web :
		<a href="https://www.netlify.com/" target="_blank" rel="noopener">www.netlify.com</a>
	</p>

	<h2>Développement du site</h2>
	<p>Raison sociale : JAILBREAK</p>
	<p>Forme juridique : Société par actions simplifiée</p>
	<p>Activité : Conseil et développement informatique</p>
	<p>Adresse du siège social : 4 Rue Rabelais 92170 Vanves</p>
	<p>Date de création : 01/06/2017</p>
	<p>SIRET : 83014132100026</p>
	<p>Adresse de courriel électronique : contact@jailbreak.paris</p>
	<p>
		Site web :
		<a href="https://www.jailbreak.paris/" target="_blank" rel="noopener">www.jailbreak.paris</a>
	</p>

	<h3>Contributeur freelance</h3>
	<p>Hugues Tavernier</p>
	<p>
		Site web :
		<a href="https://huguestavernier.com" target="_blank" rel="noopener">huguestavernier.com</a>
	</p>
	<h2>Mentions relatives à l'utilisation des données</h2>
	<p>Le Hub Francil’IN est soucieux de l’éthique, de son impact social et environnemental dans le numérique.</p>
	<p>
		Les données renseignées dans le cadre de la cartographie des lieux d’inclusion numérique en Ile-de-France ne sont
		pas collectées, ni enregistrées par notre site. Elles ont uniquement pour but de renseigner les professionnels de
		l'action sociale ou le public sur les lieux de médiation numérique qui répondent à leurs besoins.
	</p>
	<p>
		Vous pouvez accéder au jeu de données présentes sur notre outil cartographique d’orientation en allant sur
		<a href="https://www.data.gouv.fr/fr/organizations/hub-francilin/" target="_blank" rel="noopener">
			https://www.data.gouv.fr/fr/organizations/hub-francilin/
		</a>
		. Ce jeu de données est sous la licence ODbL.
	</p>
</div>

<style lang="postcss">
	h2 {
		@apply my-4;
	}
	p {
		@apply my-1;
	}
</style>
