<script>
	import { _ } from "svelte-i18n"
	import { url, ready } from "@roxi/routify"
	import { structures } from "~/stores"
	import { hasFeatures } from "~/model"

	$: if (hasFeatures($structures)) {
		$ready()
	}
</script>

<!-- routify:options name="sitemap" -->

<h1 class="mb-4 text-center">Structures recensées par le HUB</h1>
<div class="typography grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
	{#if hasFeatures($structures)}
		{#each $structures.features as feature}
			<a class="filter-button" href={$url("structure", { id: feature.id })}>
				<div>{feature.properties.lieu_nom}</div>
				<div class="font-normal">
					{feature.properties.adresse}<br />{feature.properties.code_postal}
					{feature.properties.commune}
				</div>
			</a>
		{/each}
	{/if}
</div>

<style lang="postcss">
	a {
		@apply no-underline;

		&:hover {
			@apply text-gray-900;
		}
	}
</style>
