<script>
	import config from "~/config.js"
	import { _ } from "svelte-i18n"

	import { gridAdd } from "~/icons/heroicons.js"
	import SvgIcon from "~/components/SvgIcon.svelte"
</script>

<a
	class="themed btn-outlined shadow-pink flex text-pink-500 border-0 hover:text-pink-700 hover:bg-pink-100"
	href={config.enrichTheMapUrl}
	target="_blank"
	rel="noopener"
	title={$_("navbar.button.enrich_the_map.tooltip")}
>
	<SvgIcon {...gridAdd} size={24} />
	<span class="text hidden sm:block">
		{$_("navbar.button.enrich_the_map.text")}
	</span>
</a>

<style>
	.themed {
		@apply px-2 sm:px-4 m-1;
	}
	.themed :global(svg) {
		@apply block sm:hidden;
	}
</style>
