<script>
	import { _ } from "svelte-i18n"
	import { createEventDispatcher } from "svelte"

	import SvgData from "~/components/SvgData.svelte"

	export let icon = null
	export let label
	export let description
	export let selected = false

	const dispatch = createEventDispatcher()

	function handleKeydown(e) {
		if (e.key === "Enter") {
			dispatch("click", e)
		}
	}
</script>

<div class="filter-button sm:px-10 flex items-center" class:selected on:click on:keydown={handleKeydown} tabindex="0">
	<span class="sr-only">{$_("selected_value")}</span>
	{#if icon}
		<span class="h-12 me-3">
			<SvgData data={icon} fill="#000000" size="48px" />
		</span>
	{/if}
	<div>
		<div class="font-bold text-black">{label}</div>
		<div class="font-normal text-gray-700">{description}</div>
	</div>
</div>

<style>
</style>
