<script>
	import { url } from "@roxi/routify"
	import { _ } from "svelte-i18n"
	import EnrichTheMapButton from "./EnrichTheMapButton.svelte"
</script>

<div class="print:hidden flex flex-row justify-center items-center">
	<div class="me-2 sm:me-4">
		<a href={$url("about")} class="hover:underline">{$_("page.about.title")}</a>
	</div>
	<div class="me-2 sm:me-4">
		<a href={$url("legal-terms")} class="hover:underline">{$_("page.legal_terms.link")}</a>
	</div>
	<EnrichTheMapButton />
</div>
