<script>
	import { _ } from "svelte-i18n"
	import { url } from "@roxi/routify"
	import TranslationButton from "~/components/TranslationButton.svelte"
</script>

<nav class="flex flex-col md:flex-row items-center px-2 md:pl-4 md:pr-32">
	<a href={$url("/")}>
		<img class="inline-block h-16 object-scale-down" src="/logo-francilin-h128.jpg" alt={$_("navbar.logo.alt")} />
	</a>
	<div class="themed items-center mt-4 mb-4 md:mt-0 md:mb-0 md:ms-auto md:me-4 flex">
		<a href={$url("map")} class="btn nav-item mr-2 sm:mr-4 flex items-center justify-center">
			{$_("navbar.go_to_map")}
		</a>
		<TranslationButton listPlacement="bottom" />
	</div>
</nav>

<style lang="postcss">
	.themed {
		--background: theme("colors.gray.500");
		--indicatorColor: white;
	}
	.themed :global(.selectContainer) {
		@apply text-white;
	}
	.themed :global(.selectContainer:hover) {
		@apply bg-gray-700;
	}
	.themed :global(.nav-item) {
		width: 170px;
	}

	@screen sm {
		.nav-item {
			@apply px-4;
		}
	}
</style>
