<script>
	import { _ } from "svelte-i18n"

	export let value
</script>

<div class="service-group mb-4">
	<h3 class="text-blue-500 service-group-title">{$_(`theme.${value.identifier}.label`)}</h3>
	<ul class="list-disc list-inside">
		{#each value.services as service (service.identifier)}
			<li>{$_(`service.${service.identifier}.label`)}</li>
		{/each}
	</ul>
</div>

<style>
	/* Services */
	.service-group-title {
		@apply ml-0 font-bold;
	}
	.service-group ul {
		@apply ml-4;
	}
	@screen sm {
		.service-group-title {
			@apply ml-4;
		}
		.service-group ul {
			@apply ml-8;
		}
	}
	@media print {
		.service-group-title {
			@apply ml-4;
		}
		.service-group ul {
			@apply ml-8;
		}
	}
</style>
