<script>
	import { _, locale } from "svelte-i18n"
	import { translate } from "~/icons/heroicons.js"
	import { availableLocaleItems } from "~/stores.js"
	import Select from "svelte-select"
	import SvgIcon from "~/components/SvgIcon.svelte"

	export let listPlacement = "bottom"

	let selectedItem = $availableLocaleItems.find(({ value }) => value === $locale)
	function handleSelect(event) {
		$locale = event.detail.value
	}
</script>

<div class="themed m-1">
	<Select
		bind:value={selectedItem}
		on:select={handleSelect}
		items={$availableLocaleItems}
		containerClasses="nav-item"
		isSearchable={false}
		isClearable={false}
		Icon={SvgIcon}
		iconProps={{ class: "h-6", size: 20, ...translate }}
		{listPlacement}
	/>
</div>

<style lang="postcss">
	.themed {
		--border: 0px;
		--itemIsActiveBG: theme("colors.gray.100");
		--itemHoverBG: theme("colors.gray.200");

		--itemIsActiveColor: theme("colors.gray.700");
		--itemColor: theme("colors.gray.700");
		--itemHoverColor: theme("colors.gray.700");

		--selectedItemPadding: 0 20px 0 10px;
		--listZIndex: 10;
	}
	.themed :global(.selectContainer) {
		@apply rounded font-semibold cursor-pointer;
		transition: all 0.1s ease-out;
	}

	.themed :global(.selectContainer.nav-item input) {
		@apply cursor-pointer;
	}
	.themed :global(.selectContainer .indicator) {
		@apply flex;
	}
</style>
