<script>
	export let wizardMode = false

	import { _ } from "svelte-i18n"
	import { page, url, redirect } from "@roxi/routify"
	import { LIEU } from "~/constants.js"
	import { resetStepValue, findStepByRoute, getNextStep, getPreviousStep, setStepValue } from "~/steps.js"
	import { filters, mapLocation } from "~/stores.js"
	// import { redirectToWizardStep } from "~/pages/wizard/index.svelte"
	import WizardProgress from "./WizardProgress.svelte"
	import SvgIcon from "~/components/SvgIcon.svelte"
	import { trash } from "~/icons/heroicons.js"

	let redirection = $redirect

	const step = findStepByRoute($page.meta.name)

	if (!step) {
		document.location.reload()
	}

	const name = step.name

	$: nextStep = getNextStep(name)
	$: nextRoute = nextStep && nextStep.route
	$: previousStep = getPreviousStep(name)
	$: previousRoute = previousStep && previousStep.route

	$: value = name === LIEU ? $mapLocation : $filters[name]

	function select(value, redirect = true) {
		setStepValue(name, value)
		if (wizardMode && nextRoute && redirect) {
			redirection(nextRoute, {}, true, true)
			// redirectToWizardStep(nextRoute)
		}
	}

	function next() {
		if (wizardMode && nextRoute) {
			redirection(nextRoute, {}, true, true)
			// redirectToWizardStep(nextRoute)
		}
	}
</script>

<div class="flex flex-col items-center mb-6 mt-4">
	<h1>
		{#if wizardMode}
			<span class="step-circle me-2">{step.index + 1}</span>
		{/if}
		{$_(step.title)}
	</h1>
	{#if wizardMode}
		<div class="my-4">
			<WizardProgress currentStepIndex={step.index} />
		</div>
	{/if}
</div>

<slot {select} {next} {step} {value} />

<div class="flex w-full justify-center mt-6 sm:mt-16">
	{#if value !== null}
		<button
			class="text-gray-700 hover:text-gray-800 me-4 rounded"
			on:click={() => {
				resetStepValue(name)
			}}
			title={$_("filter.common.unselect.tooltip")}
		>
			<SvgIcon size={36} {...trash} />
		</button>
	{/if}
	{#if wizardMode}
		{#if previousRoute}
			<button
				class="btn-outlined me-4"
				on:click={() => {
					redirection(previousRoute, {}, true, true)
					// redirectToWizardStep(previousRoute)
				}}
			>
				{$_("page.wizard.previous")}
			</button>
		{/if}
		{#if nextRoute}
			<button
				class="btn-outlined"
				on:click={() => {
					redirection(nextRoute, {}, true, true)

					// redirectToWizardStep(nextRoute)
				}}
			>
				{$_("page.wizard.next")}
			</button>
		{:else}
			<a href={$url("map")} class="btn-outlined">{$_("navbar.see_the_map")}</a>
		{/if}
	{:else}
		<a href={$url("map")} class="btn-outlined">{$_("filter.common.apply")}</a>
	{/if}
</div>

<style>
	.step-circle {
		@apply leading-10 h-10 w-10 inline-block rounded-full bg-orange-500 text-white text-center;
		line-height: 2.5rem;
	}

	/* .page-title {
		@apply text-2xl;
	} */
	@screen sm {
		/* .page-title {
			@apply text-3xl;
		} */
		.step-circle {
			@apply h-12 w-12;
			line-height: 3rem;
		}
	}
</style>
