<script context="module">
	import { get } from "svelte/store"
	import { redirect } from "@roxi/routify"

	export function redirectToWizardStep(routeName) {
		get(redirect)(
			routeName,
			{},
			// static: render target route but keep current URL
			true,
			// shallow: use current layout, not target route's one, in order to keep "scoped" prop
			true,
		)
	}
</script>

<script>
	redirectToWizardStep("theme-filter")
</script>

<!-- routify:options name="wizard" -->
