<script>
	import { _, isLoading } from "svelte-i18n"
	import { Router } from "@roxi/routify"
	import { routes } from "../.routify/routes"
	import TailwindCSS from "./TailwindCSS.svelte"

	$: if (!$isLoading) {
		document.dir = $_("direction")
	}

	function handleKeydown(e) {
		if (e.code === "Tab") {
			document.body.classList.add("with-a11y")
		}
	}
</script>

<TailwindCSS />
<svelte:window on:keydown={handleKeydown} />

{#if !$isLoading}
	<Router {routes} />
{/if}

<style>
	/* for prefetching and overflow */
	:global(body > :not(#routify-app)) {
		height: 0px;
		overflow: hidden;
	}
</style>
