<script>
	import { fetchInitialMetaData } from "~/stores.js"
	fetchInitialMetaData()
</script>

<div class="printable">
	<slot scoped={{ printerMode: true }} />
</div>

<style lang="postcss">
	.printable {
		font-size: 0.85rem;
	}
	:global(.content-block) {
		page-break-after: always;
	}

	@page {
		margin: 30mm 8mm 30mm;
	}
</style>
